extends ../../layout
block head
  title create post - bclindner
  include editor
block breadcrumbs
  a(href='/') bclindner
  |  &rsaquo;&nbsp;
  a(href='..') blog
  |  &rsaquo;&nbsp;
  a(href='.') admin
  |  &rsaquo;&nbsp;
  a(href='') create post
block content
  h1 create post
  form(method='post',action='/blog/admin/create')
    fieldset
      label(for='title') Title:
      input(type='text', name='title', placeholder='Title',required)
      label(for='author') Author:
      input(type='text', name='author', placeholder='Author',required)
      label(for='slug') Post Slug:
      input(type='text', name='slug', placeholder='Slug',required)
    fieldset
      label(for='content') Content:
      textarea(name='content', id='article-content')
    fieldset
      input(class='submit', type='submit', value='Create Post')
  hr
