script(src='https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.6.0/tinymce.min.js')
script.
  tinymce.init({
    selector: '#article-content',
    plugins: 'image',
    menubar: 'edit insert view format',
    toolbar: 'undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | image'
  })
