extends ../../layout
block head
  title blog administration - bclindner
block breadcrumbs
  a(href='/') bclindner
  |  &rsaquo;&nbsp;
  a(href='.') blog
  |  &rsaquo;&nbsp;
  a(href='') admin
block content
  h1 blog administration
  a(href='/blog/admin/create'): button create new post
  h2 edit posts
  table
    tr
      th title
      th(colspan=2) controls
    each post in recentPosts
      tr
        td
          a(href='/blog/post/'+post.slug)=post.title
        td
          a(href='/blog/admin/delete/'+post.slug)
            button.red delete post
        td
          a(href='/blog/admin/update/'+post.slug)
            button update post
