script.
  tinymce.init({
    selector: '#article-content',
    plugins: 'image',
    menubar: 'edit insert view format',
    toolbar: 'undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | image'
  })
