extends ../layout

block head
  title downloads - bclindner
block breadcrumbs
  a(href='/') bclindner
  |  &rsaquo;&nbsp;
  a(href='') downloads
block content
  h1 Downloads
  hr
  p Nothing here yet. Check back later.
  p My #[a(href='https://github.com/bclindner') GitHub account] might have some stuff, though.
