extends ../layout

block head
  title projects - bclindner
block content
  h1 projects 
  p Nothing here yet. Check back later.
  p My #[a(href='https://github.com/bclindner') GitHub account] might have some stuff, though.
  hr
