extends ../layout
block head
  title blog - bclindner
block content
  h1 Blog
  hr
  each post in posts
    include post
    a(href='../post/'+post.slug)
      button full article &rarr;
  if page != 1 || next > 0
    p.center='page '+page
    .paginator
      if page != 1
        a(href=page-1)
          button &larr; prev page
      if next > 0
        a(href=page+1)
          button next page &rarr;
