extends ../layout
block head
  title blog - bclindner
block breadcrumbs
  a(href='/') bclindner
  |  &rsaquo;&nbsp;
  a(href='..') blog
block content
  h1 Blog
  if posts.length
    each post in posts
      hr
      include post
      a(href='../post/'+post.slug)
        button full article &rarr;
    if page != 1 || next > 0
      hr
      p.center='page '+page
      .paginator
        if page != 1
          a(href=page-1)
            button &larr; prev page
        if next > 0
          a(href=page+1)
            button next page &rarr;
  else
    hr
    h2.center no posts found
