extends ../layout
block head
  title=post.title + ' - bclindner'
block breadcrumbs
  a(href='/') bclindner
  |  &rsaquo;&nbsp;
  a(href='..') blog
  |  &rsaquo;&nbsp;
  a(href=post.slug)=post.slug
block content
  include post
