doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet',href='/static/css/bclindner.css')
    block head
  body
    header
      .wrapper
        h1
          a(href='/') bclindner
        nav
          ul
            li
              a(href='/') home
            li
              a(href='/projects') projects
            li
              a(href='/downloads') downloads
            li
              a(href='/blog') blog
    main
      p.breadcrumbs
        block breadcrumbs
      block content
    footer
      p Copyright &copy; Brian C. Lindner, 2017
